:root {
    --primary-color: #0a3d62;
    --secondary-color: #3c6382;
    --accent1-color: #1e3799;
    --accent2-color: #82ccdd;

    --heading-font: Arial, Helvetica, sans-serif;
    --body-font: Verdana, Geneva, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    color: var(--accent1-color);
}

header,
main,
footer {
    width: 840px;
    margin: 0 auto;
}

h1,
h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

nav,
p,
section,
article {
    margin: 16px;
    padding: 8px;
}

.socialmedia a {
    text-decoration: none;
}

.hero {
    position: relative;
}

/* Hero Image */
.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.hero h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    background-color: var(--accent1-color);
    color: #ffffff;
    opacity: 0.8;
}

.hero article {
    position: absolute;
    bottom: 20px;
    left: 20px;
    background-color: rgba(255, 255, 255, 0.85);
    padding: 16px;
    width: 80%;
}

.hero article img {
    float: right;
    width: 125px;
    margin-left: 16px;
    border: 2px solid var(--secondary-color);
}